/* @import "https://unpkg.com/open-props/normalize.min.css"; */
@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  all: unset;
  font-family: inherit;
}

a {
  cursor: pointer;
}

:root {
  --branding-color-primary-100: #008479;
  --branding-color-primary-200: #005f5e;
  --branding-color-secondary: #f3c000;
  --layout-margin-inline: var(--size-4);
}

html {
  font-family: var(--font-sans);
}
